@media (min-width: 782px) {
    .edit-post-sidebar {
        width: 380px;
        max-width: 98%;
    }
}

.postbox.carbon-box {
    overflow-x: hidden;
    padding-inline: 2em;
}

.postbox-header {
    border: 1px solid #ddd;
    background-color: aliceblue;
}

.cf-field {
    display: flex;
    flex-direction: row;
}

.cf-field__head {
    max-width: 15%;
}